nav {
  background-color: rgb(237, 174, 135);

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    span {
      font-weight: bolder;
      font-size: 1.4rem;
      padding-top: 0.5rem;
    }
    li {
      padding: 0.5rem 1rem;
      a {
        font-size: 1.5rem;
        color: white;
      }
    }
  }
}
