.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
  input,
  button {
    font-size: 1rem;
    padding: 0.25rem;
    border: 3px solid rgb(200, 165, 144);
  }
  button {
    background-color: rgb(200, 165, 144);
    color: white;
  }
}
