* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Special Elite", cursive;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
}

.morePicture button {
  padding: 0.25rem 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: #c8a590;
  color: white;
  cursor: pointer;
}

.about {
  text-align: center;
  line-height: 3rem;
  padding: 3rem;
}

nav {
  background-color: #edae87;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

nav ul span {
  font-weight: bolder;
  font-size: 1.4rem;
  padding-top: 0.5rem;
}

nav ul li {
  padding: 0.5rem 1rem;
}

nav ul li a {
  font-size: 1.5rem;
  color: white;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0rem;
}

.search input,
.search button {
  font-size: 1rem;
  padding: 0.25rem;
  border: 3px solid #c8a590;
}

.search button {
  background-color: #c8a590;
  color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background-color: #cecece;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pictures .picture {
  padding: 1rem;
  width: 300px;
}

.pictures .picture .imageContainer {
  overflow: hidden;
  height: 40vh;
}

.pictures .picture .imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pictures .picture .imageContainer img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
/*# sourceMappingURL=style.css.map */