* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Special Elite", cursive;
}
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  button {
    padding: 0.25rem 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: rgb(200, 165, 144);
    color: white;
    cursor: pointer;
  }
}
.about {
  text-align: center;
  line-height: 3rem;
  padding: 3rem;
}
@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
